@model ITT_OneTeam.Models.Authentication.Login

<div class="h-100 w-100  align-items-center justify-content-center d-flex p-2  bg-secondary">

    <div class="col-12 col-sm-6 col-md-5 col-lg-4 col-xl-3 rounded p-3" style="background-color:#213040">

        <div class="row">
            <div class="col-6 text-end">
                <img src="~/itt_logo.png" height="70" />
            </div>
            <div class="col-6 ps-0">
                <div class="fw-light " style="color:#e63e24;margin-top:-8pt !important; font-size: 4.5rem;    line-height: 1.2;">ITT</div>
            </div>
        </div>

        <form asp-controller="auth" asp-action="login">
            <div class="mt-3 bg-white rounded p-2">

                <h4 class="fw-light text-center">Users <i class="fa-solid fa-users " style="color:#d13b24;"></i> Log-in</h4>

                <div class="fw-bold mt-3 mb-2">Please provide the following:</div>

                <div class="mt-2">
                    <input type="text" asp-for="@Model.Username" class="form-control" placeholder="Username" autofocus>
                    <span asp-validation-for="@Model.Username" class="text-danger" style="font-size:small;"></span>
                </div>
                <div class="mt-2">
                    <input type="password" asp-for="@Model.Password" class="form-control" placeholder="Password">
                    <span asp-validation-for="@Model.Password" class="text-danger" style="font-size:small;"></span>
                </div>

                <div class="mt-2 mb-2">
                    <button class="btn btn-secondary">Log-in <i class="fa-solid fa-key"></i></button>
                    </div>

            </div>

        </form>

    </div>


</div>